* {
    margin: 0;
    padding: 0;
}

.one > .header__one {
    color: red;

    line-height: 50px;
}

#sel-id {
    color: blue;
}

.foo {
    width: 50%;
    height: 30px;
    margin: 50px auto;
    border: 20px solid rgba(99, 50, 50, 0.5);
    padding: 50px 10px;
    background-color: #f60;
    background-image: url('http://localhost/www/projects/edqi/website/public/assets/img/banner/slider-02.jpg');
    background-repeat: no-repeat;
    background-position: right;
    text-align: center;
}

p {
    font-family: 'open sans';
    font-size: 20px;
    font-weight: 400;
    word-spacing: 20px;
    letter-spacing: 10px;
    line-height: 30px;
    color: rgb(119, 54, 54);
}

p, h3 {
    color:rgba(233, 7, 7, 0.5)
}

.doo {
    width: 100px;
    height: 100px;
    background-color: #f60;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
    line-height: 100px;
    text-shadow: 0px 0px 10px 20px rgb(252, 252, 252);
    box-shadow: 0px 0px 10px 20px rgba(99, 50, 50, 1);
}

a {
    text-decoration: none;
    background-color: red;
    color: #fff;
    padding: 100px;
    display: inline-block;
}

ul {
    list-style: none;
    /* padding: 0; */
}